
body {
background-color: #333333;
color: #ffffff;
font-family: verdana; /* took out calibri, it changes to times new on Jen and my phone */
text-align: center;
}

p {
margin: 7px;
padding: 0;
}

/* Link styles defined below */
a:link {
  color: white;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}


/* ********************************** */
/* Class for User List and List Item for Nav Bar */
/* ********************************** */
ul.mynavul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
  position: fixed; /* to keep nav bar fixed */
  z-index: 1; /* so that the nave bar stays above all other text */
  top: 0; /* to keep nav bar at top */
  width: 100%; /* full width bar */
}

li.mynavli {
  display: inline;
}

li.mynavli a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.mynavli a:hover {
  color: #aaaaaa;
}

/* ********************************** */
/* Class to put text over image */
/* ********************************** */
/* This container goes directly around the image */
.container {
  position: relative;
  text-align: center;
}

/* These are the classes for the text inside the container */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);/* This is so that the middle of the div lines up in middle */
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* ********************************** */
/* Font Sizes */
/* ********************************** */
.largefont {
  font-size: 220%;
}

.mediumfont {
  font-size: 150%;
}

.smallfont {
  font-size: 97%;
}
