
body {
  background-color: #333333;
  color: #ffffff;
  font-family: verdana; /* took out calibri, it is loading as times new roman on other computers */
  text-align: center;
}

p {
  margin: 0.5vw;
  padding: 0;
}

/* Link styles defined below */
a {
  display:block; /* so that the margin will work on the <a> tag */
  margin: 0.5vw;
  padding: 0;
}

a:link {
  color: white;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}


/* ********************************** */
/* Class for User List and List Item for Nav Bar */
/* ********************************** */
ul.mynavul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
  position: fixed; /* to keep nav bar fixed */
  z-index: 1; /* so that the nave bar stays above all other text */
  top: 0; /* to keep nav bar at top */
  width: 100%; /* full width bar */
}

li.mynavli {
  display: inline;
  font-size: 10px;   
}

li.mynavli a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px; /* padding: top right */
  text-decoration: none;
}

li.mynavli a:hover {
  color: #aaaaaa;
}

/* ********************************** */
/* Class to put text over image */
/* ********************************** */
/* This container goes directly around the image */
.container {
  position: relative;
  text-align: center;
}

/* These are the classes for the text inside the container */
.centered {
  text-align: center; /* text to align horizontally */
  width: 100%; /* div to take 100% length of container */
  position: absolute;
  top: 50%; /* start 50% from Top */ 
  left: 0%;
  transform: translate(0%, -50%); /* vertical middle of text line up with Middle of container */
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* ********************************** */
/* Font Sizes */
/* ********************************** */
.largefont {
  font-size: 5vw; /* text will change size based on window size, always 5% of view port width */  
}

.mediumfont {
  font-size: 2vw;   
}

.smallfont {
  font-size: 1vw;   
}